<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd


        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="alipayConfig" location="classpath:alipay.properties"/>
    <util:properties id="esConfig" location="classpath:es.properties"/>

    <!--包扫描-->
    <context:component-scan base-package="com.rhinoceros.mall.manager"/>


    <bean id="aliPayConfigStorage" class="com.egzosn.pay.ali.api.AliPayConfigStorage">
        <property name="appId" value="#{alipayConfig['alipay.appId']}"/>
        <property name="keyPublic" value="#{alipayConfig['alipay.alipayPublicKey']}"/>
        <property name="keyPrivate" value="#{alipayConfig['alipay.appPrivateKey']}"/>
        <property name="signType" value="#{alipayConfig['alipay.signType']}"/>
        <property name="seller" value="#{alipayConfig['alipay.seller']}"/>
        <property name="inputCharset" value="#{alipayConfig['alipay.seller']}"/>
        <property name="notifyUrl" value="#{alipayConfig['alipay.notifyUrl']}"/>
        <property name="returnUrl" value="#{alipayConfig['alipay.returnUrl']}"/>
    </bean>

    <bean id="payService" class="com.egzosn.pay.ali.api.AliPayService">
        <constructor-arg name="payConfigStorage" ref="aliPayConfigStorage"/>
    </bean>



</beans>