<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.AddressDao">

    <!--添加地址-->
    <insert id="add" parameterType="Address">
        INSERT INTO `address` (postal_code,delivery_address,detail_address,delivery_name, phone, user_id)
            VALUE (
            #{postalCode},
            #{deliveryAddress},
            #{detailAddress},
            #{deliveryName},
            #{phone},
            #{userId}
        )
    </insert>

    <select id="findById" parameterType="Long" resultType="Address">
        SELECT *
        FROM address
        WHERE id = #{id}
    </select>

    <select id="findByUserId" parameterType="Long" resultType="Address">
        SELECT *
        FROM address
        WHERE user_id = #{userId}
    </select>

    <update id="updateSelectionById" parameterType="Address">
        UPDATE address
        <set>
            <if test="postalCode != null">
                postal_code = #{postalCode},
            </if>
            <if test="deliveryAddress != null">
                delivery_address = #{deliveryAddress},
            </if>
            <if test="detailAddress != null">
                delivery_address = #{deliveryAddress},
            </if>
            <if test="deliveryName != null">
                delivery_name = #{deliveryName},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM address
        WHERE id = #{id}
    </delete>


</mapper>