<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.AdminDao">
    <select id="select" resultType="Admin">
        SELECT *
        FROM `admin`
    </select>

    <!--查寻注册用户是否已存在-->
    <select id="findByUsername" resultType="Admin" parameterType="String">
        SELECT *
        FROM `admin`
        WHERE username = #{username}
    </select>

    <select id="findById" resultType="User" parameterType="Long">
        SELECT *
        FROM `admin`
        WHERE id=#{id}
    </select>

</mapper>