<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.CartProductDao">
    <!-- 找到购物车-->
    <select id="findByUserId" resultType="CartProduct" parameterType="Long">
        SELECT *
        FROM cart_product
        WHERE user_id = #{userId}
    </select>

    <!-- 浏览商品消息-->
    <select id="findById" resultType="Product" parameterType="Long">
        SELECT *
        FROM product
        WHERE id = #{productId}
    </select>

    <!--删除商品消息-->
    <delete id="deleteById"  parameterType="Long">
        DELETE
        FROM cart_product
        WHERE id = #{cartProductId}
    </delete>

    <!-- 修改购物车中每个商品的购买数量-->
    <update id="updateById">
        UPDATE cart_product
        SET product_num = #{productNum}
        WHERE product_id = #{productId}
    </update>

    <!-- 添加商品 -->
    <insert id="add" parameterType="CartProduct">
        INSERT INTO cart_product(product_id,user_id,product_num)
        VALUE (
        #{productId},
        #{userId},
        #{productNum}
        )
    </insert>

    <!--查找购物车中商品-->
    <select id="findByUserIdAndProductId" resultType="CartProduct">
        SELECT *
        FROM cart_product
        WHERE user_id = #{userId} AND product_id = #{productId}
    </select>

</mapper>