<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.OrderProductDao">

    <!--通过orderId查找订单与商品的关系-->
    <select id="findByOrderId" resultType="OrderProduct" parameterType="Long" >
        SELECT *
        FROM order_product
        WHERE order_id = #{orderId}
    </select>


</mapper>