<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.ProductDao">
    <select id="findById" resultType="Product" parameterType="Long">
        SELECT *
        FROM product
        WHERE id = #{id}
    </select>
    <select id="findByCategoryId" resultType="Product">
        SELECT *
        FROM product
        WHERE category_id = #{categoryId}
        ${page.queryString}
    </select>
    <select id="findProduct" resultType="Product">
        SELECT *
        FROM product
        ${page.queryString}
    </select>
</mapper>