<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.ProductDao">
    <select id="findById" resultType="Product" parameterType="Long">
        SELECT *
        FROM `product`
        WHERE id = #{id}
    </select>
    <select id="findByCategoryId" resultType="Product">
        SELECT *
        FROM `product`
        WHERE category_id = #{categoryId}
        ${page.queryString}
    </select>
    <select id="findAll" resultType="Product">
        SELECT *
        FROM `product`
             ${page.queryString}
    </select>

    <select id="findByCategoryIdIn" resultType="Product">
        SELECT *
        FROM `product`
        WHERE category_id in
        <foreach collection="categoryIds" item="categoryId" open="(" close=")" separator=",">
            #{categoryId}
        </foreach>
        ${page.queryString}
    </select>

    <insert id="add" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `product`
        (name, price, discount, status, category_id, store_num, sale_num, image_urls, comment_num, sale_date, description)
        VALUES (
            #{name}, #{price}, #{discount}, #{status}, #{categoryId}, #{storeNum}, #{saleNum}, #{imageUrls},
                     #{commentNum}, #{saleDate}, #{description}
        )
    </insert>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM `product`
        WHERE id = #{id}
    </delete>

    <update id="updateSelectionById" parameterType="Product">
        UPDATE `product`
        <set>
            <if test="name!=null">
                name = #{name}
            </if>
            <if test="price!=null">
                price = #{price}
            </if>
            <if test="discount!=null">
                discount = #{discount}
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
            <if test="categoryId!=null">
                category_id = #{categoryId}
            </if>
            <if test="storeNum!=null">
                store_num = #{storeNum}
            </if>
            <if test="saleNum!=null">
                sale_num = #{saleNum}
            </if>
            <if test="imageUrls!=null">
                image_urls = #{imageUrls}
            </if>
            <if test="commentNum!=null">
                comment_num = #{commentNum}
            </if>
            <if test="saleDate!=null">
                sale_date = #{saleDate}
            </if>
            <if test="description!=null">
                description = #{description}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>