<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.UserDao">
    <select id="select" resultType="User">
        SELECT *
        FROM user
    </select>

    <!--查寻注册用户是否已存在-->
    <select id="findByUsername" resultType="User" parameterType="String">
        SELECT *
        FROM USER
        WHERE username = #{username}
    </select>

    <!--录入注册用户-->
    <insert id="add"  parameterType="User">
        INSERT INTO USER(username,password,email,nickname,gender,telephone,birthday,
        avatar,create_at,last_login_at,last_login_ip,status)
        VALUE (
        #{username},
        #{password},
        #{email},
        #{nickname},
        #{gender},
        #{telephone},
        #{birthday},
        #{avatar},
        #{createAt},
        #{lastLoginAt},
        #{lastLoginIp},
        #{status}
        )
    </insert>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getByUserName" parameterType="String" resultType="User" >
        <!-- 此处写sql语句,#{Mapper类传入的参数} -->
        select * from user where username = #{username}
    </select>
</mapper>