<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rhinoceros.mall.dao.dao.UserDao">
    <select id="select" resultType="User">
        SELECT *
        FROM user
    </select>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getByUserName" parameterType="String" resultType="User" >
        <!-- 此处写sql语句,#{Mapper类传入的参数} -->
        select * from user where username = #{username}
    </select>
</mapper>